# Sample configuration for Netflix Autovalidator
# Rename this file to config.env and fill in your credentials

EMAIL="user@example.com"
PASSWORD="yourPassword"
IMAP_SERVER="imap.example.com"
IMAP_PORT="993"
